.Link{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.Link:hover{
    color: #dc6b29;
}

.Right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

@media only screen and (max-width: 991px) {
    .Link{
        text-decoration: none;
        color: white;
        width: 90px;
        margin: auto;
    }

    .Right {
       margin: auto;
        display: block;
        text-align: center;
    }

    .Center{
        margin: auto;
        display: block;
    }
}
