#eltol{
    padding-left: 72%;
}

#basic-navbar-nav{
    color:white;
}

@media only screen and (max-width: 1191px) {
    #eltol{
        padding-left: 60%;
    }
}

@media only screen and (max-width: 991px) {
    #eltol{
        padding-left: 0px;
    }
}