.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 300px);
  padding-bottom: 100px;
}

.emptyContainer{
  margin-top: 100px;
}

.emptyContainer h1{
  font-size: 55px;
  font-style: italic;
  color: #8b807e;
  font-family: 'Impact',sans-serif;
}
.emptyContainer Button{
  font-size: medium;
  background-color: #121619;
  color: white;

}
.emptyContainer Button:hover{
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.orderBody {
  background: url('../orderpage/orderPagebackgroung.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.orderContainer{
  background-color: rgba(0, 0, 0, 0.71);
  padding-top: 20px;
  min-height: 100vh;
}

.left{
  width: 70%;
  margin: 0;
  padding: 0;
}
.right{
  width: 22%;
  margin: 0;
  height: fit-content;
  position: fixed;
  left : auto;
  right: 15%;
}
@media screen and (max-width: 1889px) {
  .right{
    right: 14%
  }
}

@media screen and (max-width: 1793px) {
  .right{
    right: 13%
  }
}

@media screen and (max-width: 1669px) {
  .right{
    width: 25%;
    right: 9%
  }
}

@media screen and (max-width: 1550px) {
  .right{
    right: 7%
  }
}

@media screen and (max-width: 1431px) {
  .right{
    right: 5%
  }
}

@media screen and (max-width: 1400px) {
  .right{
    right:10%
  }
}

@media screen and (max-width: 1250px) {
  .right{
    right: 8%
  }
}

@media screen and (max-width: 991px) {
  .left{
    width: 50%;
  }
  .right{
    right: 20%;
  }
}
@media screen and (max-width: 767px) {
  .left{
    width: 100%;
  }
  .right{
    padding-top: 20px;
    right: 15%;
    position: inherit;
    width: 80%;
    margin: auto;
  }
}


