.main-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100vh - 300px);
    padding-bottom: 100px;
}

.body {
    background: url('../menupage/menubackground2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
