.img {
    height: 110px;
}

.itemimg {
    width: 17%;
}

.itemname {
    width: 13%;
    font-weight: bold;
}

.itemdesc {
    width: 32%;
    margin-bottom: auto;
    margin-top: auto;
}

.itemprice {
    width: 8%;
}

.itembutton {
    width: 30%;
}

.itemcard {
    background-color: white;
    box-shadow: 5px 15px 20px rgba(0,0,0,0.3);
    margin: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    height: 140px;
}

@media screen and (max-width: 1400px) {
    .itemcard{
        width: 275px;
        margin: 15px;
        height: 350px;
        display: inline-flex;
        flex-direction: column;
        justify-content:center;
    }

    .itemimg {
        width: 100%;
    }

    .itemname {
        width: 100%;
    }

    .itemdesc {
        width: 100%;
        padding: 5px;
        margin-bottom: auto;
        margin-top: auto;
    }

    .itemprice {
        width: 100%;
    }

    .itembutton {
        border-top:1px solid #0004;
        width: 80%;
        margin-top: 5px;
    }

    .itemcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}