img{
max-width: 100%;
}

table:nth-child(1) td {
    width: 20%;
}

table {
    border-collapse:separate;
    border-spacing: 0 2em;
}

.tr{
    box-shadow: 2px 2px 5px 6px #ccc;
    margin: 20px;
}

