.content {
    border: 2px solid black;
    width: 30%;
    margin: auto;
    padding: 10px;
    display: block;
}
table{
    width: 100%;
}

.profilebody {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./profilePageBackground2.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.box{
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
}
