.content {
    border: 2px solid black;
    width: 30%;
    margin: auto;
    padding: 10px;
    display: block;
}
table{
    width: 100%;
}

.profilebody{
    background: url('../login-register/loginpagebackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 100;
}

.box{
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
}
