.listItem{
    justify-content: space-between;
}

.orderFormBody{
    width: 100%;
    padding-right: 30px;
    min-width: 280px;
    overflow: hidden;
}

.dataInput .css-1x51dt5-MuiInputBase-input-MuiInput-input{
    color: black!important;
}

@media screen and (max-width: 767px){
    .orderFormBody{
        padding-right: 0px;
    }
}